body{
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

@keyframes meluncur{
    from {top: -36rem;}
    to {top: 100rem;}
}

.meluncur{
    animation : meluncur 10s ease-in-out infinite;
}